<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
 {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-12 col-12 main_header_left">
                        <figure class="errimg">
                           <img src="images/error.jpg
                           " alt="raj" class="img-fluid" title="Sukalyan Dey"> 
                        </figure>

                        <p>Welcome to Raj's world</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/" target="_raj"><button>Go Home</button></a>
                    </div>
                    
                </div>


            </div>
        </div>
    </div>

    <!-- footer -->

     {{>footer}}

</body>

</html>