<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
 {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                           <img src="images/raj2.png
                           " alt="raj" class="img-fluid" title="Sukalyan Dey"> 
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span class="txt-clr">Developer</span> Artist And A Blogger</h1>
                        <a href="https://sukalyan001.github.io/profile/" target="_raj"><button>About me</button></a>
                    </div>
                    
                </div>


            </div>
        </div>
    </div>

    <!-- footer -->

     {{>footer}}

</body>

</html>